html {
    height: 100%;
    width: 100%;
    font-family: "Verdana", sans-serif;
    font-size: 14pt;
}
body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #e7e7d7;
    overflow: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: bold;
}
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main .header {
    margin: 19px;
    margin-bottom:0;
    padding: 4px;
    border: 4px solid gray;
}
.main .map {
    flex: 1;
}
.main .header .title {
    padding: 0;
    margin: 0;
}
.main .header .header-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    font-size: 0.8em;
}
.main .header .header-item .header-left {
    text-align: right;
    min-width: 6.2em;
    border-right: 3px solid darkgray;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 3.3vmin;
    color: #555555;
}
.main .header .header-item .header-right {
    line-height: 2.0em;
    font-size: 2.5vmin;
}
.main .header .header-item .header-right .location-item-title {
    font-weight: bold;
}
.main .header .header-item .header-right .location-item-value {}
.angular-google-map-container {
    border: 4px solid gray;
    height: 62vh;
    max-width: 100vw;
    margin: 1.0em;
}

.angular-google-map-container {
  max-height:200vmin;
}

/* Styles for phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .main .header .header-item .header-right {
      font-size: 3.5vmin;
  }

  .main .header .header-item .header-left {
      font-size: 4.5vmin;
  }
}
